<!DOCTYPE html>
<html ng-app="PendulumApp">
  <head>
    <title>Pendulum - Stopwatch</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body  >
     
      <nav class="purple  lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Pendulum </a></div>
    </nav>
    <main>
      <div class="row">
        <div class="col s12" style="padding: 0 .1%;" ng-controller="StopWatchController">
          <a class="btn-floating btn-large waves-effect waves-red orange" style="position:fixed;bottom:100px;right:5%;font-weight:400;font-size:32px;" ng-click="addWatch()">+</a>
          <ul class="tabs purple lighten-4" >
            <li class="tab col s3" ng-repeat="stopwatch in stopWatches"><a id={{$index}} class="active" href="#tab{{$index}}">StopWatch#{{$index+1}}</a></li>
          </ul>
          <div id="tab{{$index}}" class="col s12 tabwatch" ng-repeat="stopwatch in stopWatches">
            <div class="row">
              <div class="col s6 offset-s3">
                <div class="card blue-grey darken-1 hoverable ">
                  <div class="card-content white-text ">
                    <span class="card-title">StopWatch#{{$index+1}}</span>
                    <div class="white blue-text center-align valign">
                    <h2 id="timer{{$index}}" style="height:100px;padding-top:20px" > 00:00:00.000 </h2>
                    </div>
                    
                  </div>
                  <div ng-show="!stopwatch.isStarted && !stopwatch.isStopped" class="card-action">
                    <a class="waves-effect waves-red btn orange white-text" ng-click="startWatch($index)" style="width:100%">Start</a>
                  </div>
                  <div ng-show="stopwatch.isStarted && !stopwatch.isStopped" class="card-action">
                    <a class="waves-effect waves-red btn orange white-text" ng-click="endWatch($index)" style="width:100%">Stop</a>
                    <hr/>
                    <a class="waves-effect waves-red btn orange white-text" ng-click="splitWatch($index)" style="width:100%">Split</a>
                  </div>
                  <div ng-show="stopwatch.isStarted && stopwatch.isStopped"  class="card-action">
                    <a id="export{{$index}}" href="#" class="waves-effect waves-red btn orange white-text" style="width:100%">Export</a>
                    <hr/>
                    <a class="waves-effect waves-red btn orange white-text" ng-click="resetWatch($index)"  style="width:100%">Reset</a>
                  </div> 
                  <div class="card-content white-text">
                    <table id="splits{{$index}}" ng-show="stopwatch.isStarted " class="white purple-text  bordered striped highlight centered responsive-table">
                      <thead>
                      <tr>
                        <th data-field="id">Split#</th>
                        <th data-field="name">Total Duration</th>
                        <th data-field="price">Lap Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer purple" style="height:100%;bottom:0px" >
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="orange-text text-lighten-3" href="https://in.linkedin.com/in/theanubhav" target="_blank">Anubhav Srivastava</a>
        </div>
      </div>
    </footer> 

  <div id="overlay" class="hide">
     <div id="loading" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  </div>
  <!--  Scripts-->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/angular.min.js"></script>
  <script src="assets/js/stopwatch.js"></script>
  <script src="assets/js/stopwatchApp.js"></script>
  <script src="assets/js/materialize.min.js"></script> 
</body>
</html>